<style>
	
.linker{
	color: #459fec;
}

a:visited {
	color: #459fec !important;
}

a:hover {
	background-color: #eee !important;
}

body {
	padding-left: 0px !important;
}
</style>


<div class="container-fluid" style="margin-top: 1em">
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-11">
					<%= image_tag( "subsect_logo512.png", class: "pull-left",
					 style: "height: 7em; width: 7em; margin-right: 1em") %>
					<div>	
						<div style="font-weight: bold; font-size: 300%">Subsect</div>
						<div style="color: #777; font-size: 150%">A server in every pocket</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" >
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8" style="margin-top: 2em; color: #777; font-size: 130%; text-align: justify">
			<div>
			In many ways the promise of the early web has not been realized. It appears that our information infrastructure has been distorted by the presense of a small number of large bodies. That although the supports of the web are transparent they actually behave more like two way mirrors than windows.
		</div>
		<div class="center" style="margin-top: 1em">
			<%= image_tag("twowaymirror.jpg", style: "height: 10em" ) %>
		</div>
		<div style="margin-top: 1em">Subsect proposes to address some of these asymetries by providing a platform which allows individuals to have a persistent dynamic web presense hosted on their own internet connected mobile device.
		</div>
		</div>
	</div>
	
	<div class="row" >
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10" style="margin-top: 3em;">
					<div id="webrtc_yes">
					<div class="center">
						<a class="linker" href="http://demo.subsect.net/pkg/Publish#/article-one">
						<h3>Try the Demo</h3></a></div>
					<div  style="text-align: justify">
						The Subsect server is a general purpose platform and can host a wide variety of web apps and content. This demo is being served from a Nexus 5. Welcome to <a class="linker" href="http://demo.subsect.net/pkg/Publish#/article-one">Publish</a>, the first blogging software to be hosted on a phone.
					</div>
				</div>
					<div id="webrtc_no" class="hidden"  style="text-align: justify">
						<div class="center">
							<h3>Try the Demo</h3>
						</div>
							
						Your current browser does not support WebRTC data channel. On any desk top system (OSX, Windows, Linux) and mobile Android Chrome, Firefox and Opera work fine. Safari is now supported on MacOS High Sierra and iOS 11 and above. Please try one of these. 
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10" style="margin-top: 3em;">
					<div class="center"><h3>Download the APK</h3></div>
					<div style="text-align: justify"">
					The Subsect server is still alpha software. If you would like to try setting up your own server and have an Android device that is 5.0 or higher you can <a class="linker" href="http://www.subsect.net/lib/SubsectServ.apk">Download the APK here.</a> Be sure that <em>Unknown sources</em> is enabled in <em>Settings -&gt Security</em> before installing.<br><br>Chrome seems to give a <em>Parse Error</em> sometimes. Firefox has not given this error when installing the APK.<br><br> There are configuration instructions on the server once it is installed. Look in the menu bar option <b>Help</b>. All that is needed is a host name and password.
				</div></div>
			</div>
		</div>
	</div>
	
	<div class="row" style="margin-top: 2em;">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-11">
					<a href="https://github.com/markkudlac/Subsect_android/tree/master">
					<%= image_tag( "GitHub-64px.png", class: "pull-left",
					 style: "height: 3em; width: 3em; margin-right: 1em") %>
					 </a>
					 <a id="emaillink" href="#">
 					<%= image_tag( "mark_head_small_bw.png", class: "pull-left",
 					 style: "height: 5em; margin-right: 1em") %>
					 </a>
					<div>
						<!--	
						<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
						
						-->
						
						<a class="linker" href="https://twitter.com/subsectnet">@subsectnet</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>

	if (!util.supports.data) {
		$("#webrtc_yes").addClass("hidden");
		$("#webrtc_no").removeClass("hidden");
	}
	

</script>
