
<div id="subinitrm" class="centerspin">
	<span id="loadspin" class="loading style-2"></span>
</div>	
	
<script>
if (util.supports.data) { 
	
<%= render( :template => "layouts/client", :formats => [:js], 
	:locals => {:appPath => @appPath, :appName => @appName, :appSubId => @appSubId})
	%>
	
} else {
	$("#loadspin").hide();
	
	alert("The current browser does not support WebRTC data channel");
}
</script>
