
	<div id="subwrap" class="wrapper">
	<p>
		<input id="peerid" type="text" value="fred" style="font-size: 150%; width: 5em" /> <br/>
		<button id="clibut" type="button" style="margin-top: 15px; font-size: 150%; padding: 1em 1em">Start Client</button>
	</p>
	</div>
	
<%= javascript_tag(render :template => "layouts/client", :formats => [:js],
	:locals => {:appPath => @appPath, :appName => @appName})
	%>
