
	<div id="subwrap" class="wrapper">
	<p>
		<input id="peerid" type="text" value="fred1" /> <br/>
		<input id="clibut" type="button" style="margin-top: 5px" value="Start Client" />
	</p>
	</div>
	
	<script>
	$(document).ready(function(){
		initall();
//			testall()			
	})
	</script>
